<h1>User</h1>

<app-spinner *ngIf="loading$ | async else loaded">loading</app-spinner>

<ng-template #loaded>

  <div class="error" *ngIf="error$ | async as error">{{error}}</div>

  <form *ngIf="user$ | async as user" (submit)="save(user)">

    <label for="title">Title</label><br>
    <select id="title" name="title" [(ngModel)]="user.title">
      <option [ngValue]="null">Please select</option>
      <option *ngFor="let title of titles$ | async" [value]="title.value">{{title.label}}</option>
    </select><br>
    
    <label for="firstName">Firstname</label><br>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="user.firstname"><br>

    <label for="lastName">Lastname</label><br>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="user.lastname"><br>

    <label for="email">Email</label><br>
    <input type="text" id="email" name="email" [(ngModel)]="user.email"><br>

    <app-spinner *ngIf="saving$ | async else saved">saving</app-spinner>
    <ng-template #saved>
      <button>Save</button>
    </ng-template>

  </form>
</ng-template>

<a routerLink="/users">Cancel</a>